body{
    background-color: black;
    color: white;
}
img{
    position: absolute;
    top: 0;   
    opacity: 1;
    width: 450px;
    transition: opacity 2s ease-in-out 0.3s, width 5s linear;
}   

p{
    width: 450px;
}

img:hover{
   opacity: 0.5;
   width: 800px;
   /* transition-property: opacity;
   transition-duration: 2s;
   transition-timing-function: ease-in-out;
   transition-delay: 0.3s; */
}
