h1{
    color: blue;
    text-align: end;
    text-decoration-line: underline;
}
h2{
    color: green;
    text-align: end;
    background-color: aqua;
}
p{
    color: brown;
    text-align: justify;
}
b,i{
    color: black;
}