.overline{
    text-decoration-line: overline;
    text-decoration-color: blue;
    text-decoration-style: double;
}
.line-through{
    text-decoration-line: line-through;
    text-decoration-color: red;
    text-decoration-style: solid;
}
.underline{
    text-decoration-line: underline;
    text-decoration-color: darkcyan;
    text-decoration-style: wavy;
}
.shorthand{
    text-decoration: underline red wavy 2px;
}