ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
}

li{
    float: left;
    border-right: 2px solid black;
}

li:last-child{
    border-right: none;
    border-left: 2px solid;
}

li a{
    display: block;
    color: white;
    text-align: end;
    padding: 10px 25px;
    text-decoration: none;
}

.active{
    background-color: red;
}
a:hover:not(.active){
    background-color: aqua;
    color: black;
}
